/*================================
LOGO
================================*/

.logo {
  height: 3.2rem;
  margin-left: 3.2rem;
}

/*================================
SEARCH
================================*/
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.8rem 1.6rem;
    border-radius: 10rem;
    width: 90%;
    transition: all 0.3s;
    margin-right: -3rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

/*================================
USER NAVIGATION
================================*/

.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 0.3s;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.75rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.6rem;
    right: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__photo {
    height: 3.2rem;
    border-radius: 50%;
    margin-right: 1.2rem;
  }
}

/*================================
SIDE NAVIGATION
================================*/
.side-nav {
  &__item {
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 2.4rem;
    width: 2.4rem;
  }
}

/*================================
LEGAL TEXT
================================*/

.legal {
  font-size: 1.4rem;
  text-align: center;
  color: var(--color-grey-light-4);
  padding: 2.4rem;
}
