.btn {
  &:link,
  &:visited {
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.6rem 3.2rem;
    border-radius: 10rem;
    transition: all 0.3s;
    position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1.2rem 2.4rem rgba($color-black, 0.5);

    &::after {
      transform: scale(1.4, 1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.6rem 1.2rem rgba($color-black, 0.5);
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
