%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.4rem;
  color: $color-grey-light-1;
  line-height: 1.2;
}

.heading-2 {
  @extend %heading;
  font-size: 3.6rem;
  font-style: italic;

  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-grey-dark-1;
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.4rem;
  color: $color-primary;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.8rem;

  &--light {
    color: $color-grey-light-1;
  }

  &--dark {
    color: $color-grey-dark-1;
  }
}

.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;
  font-size: 1.6rem;
  font-family: $font-display;
  text-transform: uppercase;
  padding: 1.6rem 3.2rem;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: $color-primary-dark;
  }
}

.mb-sm {
  margin-bottom: 2.4rem;
}

.mb-md {
  margin-bottom: 3.2rem;
}

.mb-lg {
  margin-bottom: 6.4rem;
}

.mb-xl {
  margin-bottom: 9.6rem;
}
